<?xml version="1.0"?>
<robot name="aubo_i5" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- parameters -->
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="robot_ip" default="0.0.0.0"/>
  <xacro:arg name="use_mock_hardware" default="false"/>
  <xacro:arg name="mock_sensor_commands" default="false"/>

  <!-- import macro -->
  <xacro:include filename="$(find aubo_i5_description)/urdf/aubo_i5_macro.xacro" />
  <xacro:include filename="$(find aubo_driver)/urdf/aubo.ros2_control.xacro" />

  <!-- Aubo i5 URDF -->
  <xacro:aubo_i5
    prefix="$(arg prefix)"
    parent="world"
  >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:aubo_i5>

  <!-- Aubo i5 ROS2 Control -->
  <xacro:aubo_ros2_control
    name="aubo_i5"
    prefix="$(arg prefix)"
    robot_ip="$(arg robot_ip)"
    use_mock_hardware="$(arg use_mock_hardware)"
    mock_sensor_commands="$(arg mock_sensor_commands)"
  />

  <!-- world root link -->
  <link name="world" />
</robot>