<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="aubo_i5_transmission" params="prefix hw_interface">

    <xacro:macro name="joint_transmission" params="joint_name">
      <transmission name="${joint_name}_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="${joint_name}">
          <hardwareInterface>${hw_interface}</hardwareInterface>
        </joint>
        <actuator name="${joint_name}_motor">
          <mechanicalReduction>1</mechanicalReduction>
          <hardwareInterface>${hw_interface}</hardwareInterface>
        </actuator>
      </transmission>
    </xacro:macro>

    <xacro:joint_transmission joint_name="${prefix}shoulder_pan_joint" />
    <xacro:joint_transmission joint_name="${prefix}shoulder_lift_joint" />
    <xacro:joint_transmission joint_name="${prefix}elbow_joint" />
    <xacro:joint_transmission joint_name="${prefix}wrist_1_joint" />
    <xacro:joint_transmission joint_name="${prefix}wrist_2_joint" />
    <xacro:joint_transmission joint_name="${prefix}wrist_3_joint" />

  </xacro:macro>

</robot>